@charset "utf-8";
body{
	background:url("../images/loginBack.jpg") no-repeat top left;
	height:100%;
	width:100%;
	overflow: hidden;
	background-size:cover;
}
.main{
	min-width:1000px;
	overflow:hidden;
	width:100%;
    height:auto
}
.title{
    background:url("") no-repeat top left;
    font-size:20px;
	margin:37px auto 20px;
	width:320px;
	height:36px
}
.content{
	background:url("") no-repeat top center;
	margin:69px auto 0;
	width:423px;
	height:366px;
	/* border:1px solid #ededed */
}
.fieldset{
	margin:0;
	padding:0;
	border:none
}
.input{
	margin:0 auto 11px;
	width:237px
}
.button{
	/* background:url("") no-repeat center; */
	border:1px solid black;
	cursor:pointer;
	margin:0 auto;
	width:70px;
	height:35px
}
.enter{
	margin-top:15px
}